---
layout: default
title: Calamity Lane
---
{% for post in paginator.posts %} 
<div class="post">
<div class="header">
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <div class="date">{{ post.date | date_to_string }}</div>
</div>
<div class="content">
{% if post.image %}
<img alt="{{ post.image_alt }}" class="picA floatleft" src="{{ post.image }}" />
{% endif %}

  {{ post.excerpt }}
</div>
<div class="footer">
  <ul>
    <li class="printerfriendly">
      <a href="/">Printer Friendly</a>
    </li>
    <li class="comments">
      <a href="{{ post.url }}#comments">2 Comments</a>
    </li>
  </ul>
</div>
</div>
{% endfor %}

<div class="pagination">
  {{ if paginator.previous_page }}
  <div class="older"><a href="/page{{ paginator.next_page }}">&lt; Older Entries</a></div>
  {{ endif }}
  <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {{ if paginator.next_page }}
  <div class="newer"><a href="/page{{ paginator.previous_page }}">Newer Entries &gt;</a></div>
  {{ endif }}
</div>
