<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
  <head>
    <title>Calamity Lane</title>
    <link href="/css/default.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-1.4.4.min.js" type="text/javascript"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="outer">
      <div id="upbg">
      </div>
      <div id="inner">
        <div id="header">
          <h1><a href="/">Calamity Lane</a></h1>
          <h2><a href="/">The Best Dose of Disaster Yet</a></h2>
        </div>
        <div id="splash"></div>
        <div id="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive.html">Archive</a></li>
            <li><a href="/links.html">Links</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
        <div id="primarycontent">
          {{ content }}
        </div>
        <div id="secondarycontent">
          <h3>About Us</h3>
          <div class="content">
            <p>
            <strong>He's</strong> a high technologist from the Deep South.&nbsp;&nbsp;<strong>She's</strong> a globe-trotting industrial hygienist.&nbsp;&nbsp;<strong>Together</strong> they form-- The Calamiteam!&nbsp;&nbsp;<a href="/about.html">More...</a>
            </p>
          </div>
          <h3>Contact</h3>
          <div class="content">
            <ul class="linklist">
              <li class="first"><h4>Email</h4>eric.b.budd *at* gmail.com</li>
              <li><h4>Github</h4><a href="http://github.com/Calamitous">Calamitous</a></li>
              <li><h4>Twitter</h4><a href="http://twitter.com/clam_tea">@clam_tea</a></li>
              <li><h4>Google+</h4><a href="http://gplus.to/calamitous">Eric Budd</a></li>
            </ul>
          </div>
          <h3>Other Worthies</h3>
          <div class="content">
            <ul class="linklist">
              <li class="first"><a href="/">Ruby Programming Language</a></li>
              <li><a href="/">Ruby on Rails</a></li>
              <li><a href="/">Clojure</a></li>
              <li><a href="/">Compojure</a></li>
              <li><a href="/">Hacker News</a></li>
              <li><a href="/">Kiva</a></li>
              <li><a href="/">XKCD</a></li>
              <li><a href="/">Girl Genius</a></li>
              <li><a href="/">Baby Center</a></li>
              <li><a href="/">Instapundit</a></li>
            </ul>
          </div>
          <div class="item">
            <h3>Blog Posts</h3>
            <p>
            <ul class="linklist">
              {% for post in paginator.posts %} 
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
              <li><a href="/archive.html"><strong>...and a bunch more</strong></a></li>
            </ul>
            </p>
          </div>
          <h3>Syndicate</h3>
          <div class="content">
            <p>
            <a href="/atom.xml">RSS</a>
            </p>
          </div>
        </div>
        <div id="footer">&copy; 2008-2010 <a href="http://calamitylane.com/">Eric Budd</a>. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a>
        </div>
      </div>
    </div>
  </body>
</html>

