---
layout: default
---
<div class="post">
  <div class="header">
    <h3>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h3>
    <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>
  </div>
  <div class="content">
    {{ content }}
  </div>
  <div class="footer">
    <ul>
      <li class="printerfriendly">
      <a href="/">Printer Friendly</a>
      </li>
      <li class="comments">
      <a href="{{ post.url }}#comments">0 Comments</a>
      </li>
      <li class="readmore">
      <a href="/article/a-more-effective-name">Read More</a>
      </li>
    </ul>
  </div>
</div>

